# A simple command which prints "Hello, World!" and any additional arguments
hello_world:
  runner:
    name: command
    config:
      env:
        SAMPLE: test
  args:
  - echo
  - "Hello, World!"
  - "There are more arguments will be printed if any provided: "

# Lists the provided directory
ls:
  runner:
    name: command
    config:
      env:
        SAMPLE: test
  args:
  - ls
  - -lah