# A simple command which prints "Hello, World!" and any additional arguments
hello_world:
  # kind: command
  env:
    SAMPLE: test
  args:
  - echo
  - "Hello, World!"
  - "There are more arguments will be printed if any provided: "

# Lists the provided directory
ls:
  # kind: docker
  env:
    SAMPLE: test
  args:
  - ls
  - -lah

# An example of running the Bash command which takes some time to finish
print_n_times:
  args:
  - bash
  - -c
  - "for i in {1..5}; do echo -e \"\x1b[32mHello $i 🚀\x1b[0m\" && sleep 1; done; echo -e \"\x1b[31mExample error! 💥\x1b[0m\" 1>&2"
